name: CI
on: 
  push:
    paths:
    - "backend/**"
    - "frontend/**"
jobs:
  build-and-push:
    name: "Build and Push"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        project:
          - backend
          #- frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Application version
        id: get-application-version
        working-directory: ./${{ matrix.project }}
        run: |
          APPLICATION_VERSION=$(cat version.txt)
          echo "APPLICATION_VERSION=${APPLICATION_VERSION}" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.project }}
          push: true
          tags: ghcr.io/${{ github.repository }}/${{ matrix.project }}:${{ steps.get-application-version.outputs.APPLICATION_VERSION }}